// 表格标题样式
:deep(.el-table th) {
  font-weight: 600;
  font-size: 15px;
  background-color: var(--el-table-th-bg-color) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: var(--el-table-th-color);
  border-bottom: 2px solid var(--el-border-color-light);
}

// 表格内容不换行，超出显示省略号
:deep(.el-table .el-table__cell) {
  .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

// 确保表格行高度固定
:deep(.el-table .el-table__row) {
  td {
    white-space: nowrap;
  }
}