.search-card {
  padding: 20px 20px 0 20px;
  margin-bottom: 10px;
}

.expand-btn {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.expand-btn span {
  margin-right: 4px;
}

:deep(.el-form-item__content ) {
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;
}