server:
  port: 8080

spring:
  ai:
    openai:
      api-key: { your_api_key }
      base-url: { your_base_uri }
      embedding:
        options:
          model: { your_embedding_model }
  datasource:
    url: jdbc:postgresql://your_demo_host:5432/lanjii_v3?useSSL=false&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: {your_db_username}
    password: {your_db_password}
    driver-class-name: org.postgresql.Driver